<div class="row product-details" *ngIf="productData">
    <div class="col-sm-6">
    <img  class="product-img" src="{{productData.image}}" alt="">
    </div>
    <div class="col-sm-6">
        <div class="details">
            <h1>{{productData.name}}</h1>
            <h3>Price : {{productData.price}}</h3>
           
            <h6>Description : {{productData.description}}</h6>
            <button>Add to cart</button>
            <button>Buy now</button>
            </div>
        </div>
    </div>
    