<div class="container">
    <h1>All product list</h1>
    <p>{{productMsg}}</p>
    <table >
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
                <th>Action</th>
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of productList">
                <td><img src="{{item.image}}"></td>
                <td>{{item.name}}</td>
                <td>{{item.price}}</td>
                <td>{{item.description}}</td>
                <td><button (click)="deleteProduct(item.id)">Delete</button></td>
                
            </tr>
        </tbody>
    </table>
</div>